<div class="search-page">
  <app-loader [loading]="loading"></app-loader>
  <div class="welcome-message">Welcome to Xomper!</div>

  <div class="search-box">
    <div class="search-container">
      <input 
        type="text" 
        class="search-input"
        placeholder="Search for a Sleeper League..."
        [(ngModel)]="searchTerm"
        (focus)="showDropdown()"
        (input)="filterLeagues()"
        (blur)="hideDropdown()"  
      />

      <ul class="dropdown-list" *ngIf="dropdownVisible">
        <li 
          *ngFor="let league of filteredLeagues" 
          (mousedown)="selectLeague(league)"
          class="dropdown-item"
        >
          {{ league.config.display_name }} : {{ league.config.id }}
        </li>
      </ul>
    </div>
  </div>
</div>
