/* Application-wide Styles */
h1 {
  color: #369;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
}

h2, h3 {
  color: #444;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
}

body {
  margin: 0; /* Remove default margin */
}

body, input[type="text"], button {
  color: #333;
  font-family: Cambria, Georgia, serif;
}

button {
  background-color: #eee;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  color: black;
  font-size: 1.2rem;
  padding: 1rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

button:hover {
  background-color: black;
  color: white;
}

button:disabled {
  background-color: #eee;
  color: #aaa;
  cursor: auto;
}

/* Set html and body to full height */
html, body {
  height: 100%;
  margin: 0; /* Remove default margin */
}

app-toolbar {
  flex: 0 0 auto; /* Toolbar takes its own height */
  width: 100%;
  margin: 0; // Ensure no margin
}

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh; // fill viewport
}

.content {
  flex: 1;                // take remaining space
  overflow-y: auto;        // scrollable
  padding: 16px;
  padding-bottom: 120px;   // <-- reserve space for footer height
  box-sizing: border-box;  // ensure padding included in height
}

app-footer {
  flex-shrink: 0; // do not shrink
  width: 100%;
}
