<div class="toolbar" [ngClass]="{'show-dropdown': dropdownVisible}">
  <h2 class="app-title">
    <img class="banner-icon" src="assets/img/xomper-banner.jpg" alt="spotify image" >
  </h2>

  <div class="tabs" [ngClass]="{'hidden': dropdownVisible}">
    <div>
      <a routerLink="/home" routerLinkActive="active" [ngClass]="{'selected': isSelected('/home')}">
        Home
      </a>
      <ng-container *ngIf="isLoggedIn()">
        <a routerLink="/my-profile" [queryParams]="{ userId: userId }" routerLinkActive="active" [ngClass]="{'selected': isSelected('/my-profile')}">
          My Profile
        </a>
        <a routerLink="/my-league" [queryParams]="{ leagueId: leagueId }" routerLinkActive="active" [ngClass]="{'selected': isSelected('/my-league')}">
          My League
        </a>
      </ng-container>
    </div>
  </div>

  <!-- Dropdown Button -->
  <div class="dropdown-button" (click)="toggleDropdown()">
    ☰
  </div>

  <div class="dropdown" *ngIf="dropdownVisible">
    <a routerLink="/home" routerLinkActive="active" (click)="selectItem('/home')">Home</a>
    <ng-container *ngIf="isLoggedIn()">
      <a routerLink="/my-profile" routerLinkActive="active" (click)="selectItem('/my-profile')">My Profile</a>
      <a routerLink="/my-league" routerLinkActive="active" (click)="selectItem('/my-league')">My League</a>
    </ng-container>
  </div>
</div>
